
<h1>
  Create new user
</h1>

<form action="<%= users_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Username:
    <input type="text" name="users[user_name]" value="">
  </label>
  
  <label>Password:
    <input type="password" name="users[password]" value="">
  </label>

  <input type="submit" value="Create!">

</form>